
<mat-drawer-container>
    <mat-drawer #drawer opened mode="side">
        <mat-nav-list>
            <mat-list-item>
                <h3>FIRST PAGE HSCHQV</h3>
                
            </mat-list-item>
            <mat-list-item>
                <h3>铁水消耗与计划生成</h3>
                
            </mat-list-item>
            <mat-list-item>
                <h3>铁水分配当班计</h3>
                
            </mat-list-item>
            <mat-list-item>
                <h3>历史分配计划查询</h3>
                
            </mat-list-item>

            <mat-list-item>
                <h3>铁钢平衡复盘</h3>
                
            </mat-list-item>
            <mat-list-item>
                <h3>铁厂出铁计划查询</h3>
                
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="drawer-container">
            
            <app-page-two></app-page-two>
        </div>
        
    </mat-drawer-content>
</mat-drawer-container>





