
<h1 style="text-align: center;  background-color: white ; width: 100%; padding: 20px; ">铁水资源优化配置</h1>

<div class="table-one-container" >
    
    <div class="content">
        
        <h1 style="text-align: left;">钢厂系统铁水资源</h1>
        <div class="table-one ">
            <app-table-one></app-table-one>
        </div>
    
        <div class="table-buttons mx-auto " >
            <ul class="mx-center">
                <li><button type="button" class="btn btn-primary">确认</button></li>
                <li><button type="button" class="btn btn-success">修改</button></li>
            </ul>
        </div>
    </div>
    
    
    
    
</div>
<div class="table-one-container" >
    
    <div class="content">
        <h1 style="text-align: left;">铁厂系统铁水资源</h1>
        <div class="table-one table-two ">
            <app-table-two></app-table-two>
        </div>
    
        <div class="table-buttons mx-auto " >
            <ul class="mx-center">
                <li><button type="button" class="btn btn-primary">确认</button></li>
                <li><button type="button" class="btn btn-success">修改</button></li>
            </ul>
        </div>
    </div>
    
    
    
    
</div>
<div class="table-one-container" >
    
    <div class="content">
        <h1 style="text-align: left;">在途系统铁水资源</h1>
        <div class="table-one ">
            
            <app-table-three></app-table-three>
        </div>
    
        <div class="table-buttons mx-auto " >
            <ul class="mx-center">
                <li><button type="button" class="btn btn-primary">确认</button></li>
                <li><button type="button" class="btn btn-success">修改</button></li>
            </ul>
        </div>
    </div>
    
    
    
    
</div>


