

.table-one-container
{
    background-color:white;
    height: 200px;
    margin-top: 30px;
}

.content
{
    text-align: center;
    margin-left: 40px;
}


.table-one
{
    
    width: 90%;
    
    float: left;
    
}








li button
{
    width: 7%;
    padding: 6px;
    margin-left: 0px;
}

ul
{
    list-style: none;
    margin-left: 20px;
}

ul li 
{
    padding: 10px;
}


