
.section-container
{
    background-color: white;
    width: 95%;
    margin: auto;
}
.table-four-container
{
    width: 90%;
    margin: auto;
    
    
}

.content
{
    text-align: center;
    padding: 20px;

}

.content ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    
    
}

.content .list
{
    width: 50%;
    margin: auto;
    margin-bottom: -30px;
}

.content ul li
{
    
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    
}

.content mat-form-field
{
    width: 100px;
}


.table-four-buttons-container
{
    float: right;
    margin-bottom: 0;
}
.table-four-buttons-container button
{
    margin-left: 50px;
}

