

<h1 style="text-align: center; background-color: white; width: 100%; padding: 10px;">钢厂计划铁水消耗</h1>
<div class="table-four-section-container section-container">
    <div class="content">
        
        <div class="list">
            <ul class="list-one">
                <li>
                    <h1>班次</h1>
                </li>
                <li>
                    <div>
                        
                        <select class="form-select" id="selectForm" name="selectForm">
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                        </select>
                        

                    </div>
                    
                      
                </li>
                <li>
                    <button type="button" class="btn btn-primary">Primary</button>
                </li>
            </ul>
        </div>
        
        <div class="table-four-conteiner">
            
            <div class="content">
                <h2 style="text-align: left; margin: 0;">title text</h2>
                <div class="table table-four">
                    <app-table-four></app-table-four>
                </div>

                <div class="table-four-buttons-container">
                    
                    <button type="button" class="btn btn-success">success</button>
                    <button type="button" class="btn btn-primary">primary </button>
                </div>
            </div>
            
        </div>

        
    </div>
</div>

<div class="table-five-section-container section-container">
    <div class="content">
        
        
        
        <div class="table-four-conteiner">
            
            <div class="content">
                <h2 style="text-align: left; margin: 0;">title text</h2>
                <div class="table table-four">
                    <app-table-five></app-table-five>
                </div>

                <div class="table-four-buttons-container">
                    <style>



                        
                    </style>
                    <button type="button" class="btn btn-success">success</button>
                    <button type="button" class="btn btn-primary">primary </button>
                </div>
            </div>
            
        </div>

        
    </div>
</div>


